#header-image {
  padding-top: 150px;
  color: #FFFFFF;
  background-color: #f7b900;
  background-image: url("https://www.transparenttextures.com/patterns/robots.png");
  display: flex;
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  #header-image {
    width: 80%;
  }
}