#header-image {
  color: #FFFFFF;
  background-color: #f7b900;
  background-image: url("https://www.transparenttextures.com/patterns/robots.png");
  display: flex;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}