#tweet-button {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 4px solid black;
  background-color: transparent;
}

#tweet-text::placeholder {
  padding-top: 0.5em;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: "Bungee";
  font-weight: bold;
  font-size: 20px;
}

output {
  font-size: 20px;
}