#tweet-button {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  width: 100%;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: "Bungee";
  font-weight: bold;
  font-size: 20px;
}

output {
  font-size: 20px;
}