.tweet-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 50px;
}

.tweet-displayed {
  display:flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid black;
  padding: 10px;
  margin-bottom: 1em;
}

.tweet-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-header div {
  display: flex;
}

.tweet-image {
  display: flex;
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.tweet-name {
  padding-top: 15px;
}

.username {
  font-size: 20px;
  color: black;
}

.tweet-content {
  display: flex;
  width: 100%;
  height: auto;
  font-weight: 600;
  border-bottom: 2px solid black;
  word-break: break-word;
  padding: 25px;
} 

.tweet-footer {
  display: flex;
  width: 100%;
  font-size: 15px;
  justify-content: space-between;
}

.fas:hover {
  color: orange;
}

.tweet-displayed:hover {
  box-shadow: lightsteelblue 5px 5px;
}